<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Напитки</title>
</head>
<body>
    <header>
        <a href="{{ url_for('main_page') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Логотип" class="logo">
        </a>
        
        <nav>
            <a href="{{ url_for('main_page') }}">Главная</a>
            <a href="{{ url_for('statistics') }}">Статистика</a>
            <a href="{{ url_for('settings') }}">Настройки</a>
            <a href="{{ url_for('profile') }}">Профиль</a>
        </nav>

        <form action="{{ url_for('search') }}" method="get" class="pretty-input">
            <input type="text" name="query" placeholder="Поиск...">
        </form>
    </header>
    <main>
        <div class="container">
            <div class="dishes">
                <div class="dish_card">
                    <div class="left_part">
                        <img src="{{ url_for('static', filename='images/Блюда/Смузи.jpg') }}" class="dish_img">
                        <div class="characteristic">
                            <div class="char_el">
                                <p>Калории: 150</p>
                            </div>
                            <div class="char_el">
                                <p>Время приготовления: 5</p>
                            </div>
                            <div class="char_el">
                                <p>Сложность: Легко</p>
                            </div>
                        </div>
                    </div>
                
                    <div class="right_part">
                        <div class="dish_info">
                            <h1 class="dish_title">Смузи</h1>
                            <p class="description">Фруктовый напиток</p>
                            <hr class="trait"/>
                            <p class="info_title">Ингредиенты</p>
                            <ul class="ingredients_list">
                                <li>Молоко 200 грамм</li>
                <li>Яблоки 100 грамм</li>
                            </ul>
                            <p class="info_title">Метод приготовления</p>
                            <p class="cooking_method_text">Измельчить банан, ягоды, йогурт в блендере. Подавать охлажденным.</p>
                        </div>
                    </div>  
                </div>
                
                <div class="dish_card">
                    <div class="left_part">
                        <img src="{{ url_for('static', filename='images/Блюда/Тефтели.jpg') }}" class="dish_img">
                        <div class="characteristic">
                            <div class="char_el">
                                <p>Калории: 400</p>
                            </div>
                            <div class="char_el">
                                <p>Время приготовления: 40</p>
                            </div>
                            <div class="char_el">
                                <p>Сложность: Средне</p>
                            </div>
                        </div>
                    </div>
                
                    <div class="right_part">
                        <div class="dish_info">
                            <h1 class="dish_title">Тефтели</h1>
                            <p class="description">Мясные шарики в соусе</p>
                            <hr class="trait"/>
                            <p class="info_title">Ингредиенты</p>
                            <ul class="ingredients_list">
                                <li>Говядина 300 грамм</li>
                <li>Рис 100 грамм</li>
                <li>Яйца 1 грамм</li>
                <li>Томаты 100 грамм</li>
                            </ul>
                            <p class="info_title">Метод приготовления</p>
                            <p class="cooking_method_text">Смешать фарш, рис, яйцо. Сформировать тефтели, тушить в томатном соусе 30 минут.</p>
                        </div>
                    </div>  
                </div>
                
                <div class="dish_card">
                    <div class="left_part">
                        <img src="{{ url_for('static', filename='images/Блюда/Морс.jpg') }}" class="dish_img">
                        <div class="characteristic">
                            <div class="char_el">
                                <p>Калории: 100</p>
                            </div>
                            <div class="char_el">
                                <p>Время приготовления: 15</p>
                            </div>
                            <div class="char_el">
                                <p>Сложность: Легко</p>
                            </div>
                        </div>
                    </div>
                
                    <div class="right_part">
                        <div class="dish_info">
                            <h1 class="dish_title">Морс</h1>
                            <p class="description">Ягодный напиток</p>
                            <hr class="trait"/>
                            <p class="info_title">Ингредиенты</p>
                            <ul class="ingredients_list">
                                <li>Сахар 50 грамм</li>
                <li>Вода 1 литр</li>
                            </ul>
                            <p class="info_title">Метод приготовления</p>
                            <p class="cooking_method_text">Измельчить ягоды, залить водой, добавить сахар, варить 10 минут. Процедить и охладить.</p>
                        </div>
                    </div>  
                </div>
                
                <div class="dish_card">
                    <div class="left_part">
                        <img src="{{ url_for('static', filename='images/Блюда/Лимонад.jpg') }}" class="dish_img">
                        <div class="characteristic">
                            <div class="char_el">
                                <p>Калории: 100</p>
                            </div>
                            <div class="char_el">
                                <p>Время приготовления: 10</p>
                            </div>
                            <div class="char_el">
                                <p>Сложность: Легко</p>
                            </div>
                        </div>
                    </div>
                
                    <div class="right_part">
                        <div class="dish_info">
                            <h1 class="dish_title">Лимонад</h1>
                            <p class="description">Освежающий напиток</p>
                            <hr class="trait"/>
                            <p class="info_title">Ингредиенты</p>
                            <ul class="ingredients_list">
                                <li>Лимон 50 грамм</li>
                <li>Сахар 50 грамм</li>
                <li>Вода 1 литр</li>
                            </ul>
                            <p class="info_title">Метод приготовления</p>
                            <p class="cooking_method_text">Выжать сок из лимонов, смешать с водой и сахаром. Охладить, подавать со льдом.</p>
                        </div>
                    </div>  
                </div>
                
                <div class="dish_card">
                    <div class="left_part">
                        <img src="{{ url_for('static', filename='images/Блюда/Кофе латте.jpg') }}" class="dish_img">
                        <div class="characteristic">
                            <div class="char_el">
                                <p>Калории: 150</p>
                            </div>
                            <div class="char_el">
                                <p>Время приготовления: 5</p>
                            </div>
                            <div class="char_el">
                                <p>Сложность: Легко</p>
                            </div>
                        </div>
                    </div>
                
                    <div class="right_part">
                        <div class="dish_info">
                            <h1 class="dish_title">Кофе латте</h1>
                            <p class="description">Кофе с молоком</p>
                            <hr class="trait"/>
                            <p class="info_title">Ингредиенты</p>
                            <ul class="ingredients_list">
                                <li>Кофе 50 грамм</li>
                <li>Молоко 150 грамм</li>
                            </ul>
                            <p class="info_title">Метод приготовления</p>
                            <p class="cooking_method_text">Сварить эспрессо, добавить горячее молоко, взбить пену.</p>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </main>
    <footer>
        <h1>Контактная информация</h1>
        <p>Телефон: +7 (928) 123-45-67</p>
        <p>Почта: menucraft@gmail.com</p>
    </footer>
</body>
</html>